  .Header {
      text-align: center;
  }

  .addJobAdvertisementButton {
      margin-top: 2em !important;
      border-radius: 8px !important;
      text-align: center;
  }

  .AddJobAdvertisementContainer {
      background-color: white;
      padding: 2em;
      border-radius: 8px;
      margin-top: 40px;

  }