.linkedinLink{
    color: white;

}
.githubLink{
    color: white;
}
a:hover{
    color: white;
}
.btnLength{
    width: 20em;
    height: 4em;
}
.btnLinkLength{
    width: 10em;
    height: 2.5em;
}
.cvContainer{
    padding: 5em;
}

.profilPhotoUpdate{
    position: fixed;
    margin-left: 25em;
    


}
.imagerel{
    position: relative;
}
.btnUpdate{
    width: 26em;
}
